<h1>User Details</h1>

  <table style="width=100%">
    <tr>
      <td><%= @user.name %></td> 
      <td><%= @user.email %></td>
  </tr>
  </table>
  <section class="stats">
    <%= render 'shared/stats' %>
  </section>

  <div>
    <%= render 'follow_form' %>
    <% if @user.flits.any? %>
      <h3>Flits (<%= @user.flits.count %>)</h3>
      <ol>
        <%= render @flits %>
      </ol>
      <%= will_paginate @flits %>
    <% end %>
  </div>
