<%= form_for(@flit) do |f| %>
  <% if @flit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flit.errors.count, "error") %> prohibited this flit from being saved:</h2>

      <ul>
      <% @flit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content, placeholder: "Enter new flit..." %>
  </div>

  <div class="actions">
    <%= f.submit "Post", class: "btn btn-info" %>
  </div>
<% end %>