<!DOCTYPE html>
<html>
  <head>
    <title>Flutter </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <header class="nav nav-tabs">
      <div class="container">
        <nav>  
          <ul class="nav nav-tabs">
            <li><%= link_to 'Home', root_path %></li>  
            <li><%= link_to 'Flutter Stream', flits_path %></li>  
            <li><%= link_to 'About', about_path %></li>

              <div class="pull-right user-info">
                <% if current_user %>
                Hello <%= link_to (current_user.name ||current_user.email),edit_user_registration_path %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                <div align = "center"><%= image_tag(current_user.image)%></div> <br>
                <% else %>
                <%= link_to "Sign In", new_user_session_path %> or
                <%= link_to "Sign Up", new_user_registration_path %>
                <% end %>
              </div>
          </ul>
        </nav>
      </div>
    </header>

  </head>
  <body>
  
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 'your-app-id',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
  
    <div class="container">

      <%= yield %>
    </div>


    <footer id="footer" align="center">
      <em>
        Copyright &copy; 2015 FreeSpirit Development
      </em>
    </footer>

  </body>
</html>
